===============================================================================
           You are connected to a system in property of {{ system_owner }}
===============================================================================

 hostname:     {{ ansible_fqdn }} ({{ ansible_default_ipv4.address }})
 application:  {{ application }}
 role:         {{ application_role }}
 description:  {{ system_description }}
 environment:  {{ system_environment }}

